# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Client Lint

on:
  push:
    branches: [ develop, master ]
    paths: [ 'client/**' ]
  pull_request:
    branches: [ develop, master ]
    paths: [ 'client/**' ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 12.x ]

    # Run all `run` commands in the cliend directory
    defaults:
      run:
        working-directory: client

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: "**/node_modules"
          key: client-${{ matrix.node-version }}-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint
